$primary-color: #E53A40; // #25b89a
$white: #ffffff;
$bg-color: #ecf0f0;
$box-shadow-color: rgba(44, 62, 80, 0.15);

$item-text-color: #444444;
$icon-remove-color: #bfceca;
$icon-remove-color-hover: #e75556;
$divider-line-color: #d7e4e0;
